{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container">
    <!-- Navbar -->
    <div class="form-row mt-5">
        <div class="form-group col-10 offset-1">
            <form>
                <div class="card" id="registro">
                    <h5 class="card-header bg-dark text-white">Formulario de Contacto</h5>
                    <div class="card-body">

                        <div class="row ">
                            <div class=" col-5">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" class="form-control" placeholder="Nombre">
                            </div>
                            <div class=" col-7">
                                <label for="surname">Apellidos</label>
                                <input type="text" name="surname" class="form-control" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="dni">DNI/NIF</label>
                                <input class='form-control' type="text" name="dni" placeholder="DNI/NIF" id='dni'>
                            </div>
                            <div class="col-3">
                                <label for="movil">Movil</label>
                                <input type="number" name="movil" class="form-control" placeholder="Movil">
                            </div>
                            <div class=" col-6">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row ">
                            <div class=" col-12">
                                <label for="mensaje" class="form-label">Mensaje</label>
                                <textarea class="form-control" id="mensaje" rows="3"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-12" style="text-align:center">
                                <input class="btn bg-dark text-white" style=" font-weight: bold;cursor:pointer" type="submit" value="Enviar">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </form>
</div>

{% endblock content %}
