{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
<hr>

<hr>
    <ul class="list-group">
    {% for anime in animes %}
    <li class="list-group-item">{{anime.title}}</li>
    
    {% empty %}
    <p>No hay posts todavía ... </p>
    {% endfor %}
</ul>

<!-- {% if peliculas.paginator.count > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% include "includes/pagination.html" with subpages=peliculas %}
                </div>
            </div>
        </div>
    {% endif %} -->
</div>
{% endblock %}